doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Vooruit Met Pitch Presentation
    link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Roboto:900,300,400')
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body

    article

      section.image.image--intro

      section.crayons
        ul
          li
            img(src='images/crayons.png')

          li.nr4
            img(src='images/nr4.png', style='width: 80%')

      section.apples
        ul
          li
            img(src='images/apples_back.png', style='width: 50%; z-index: 5;')
          li
            img(src='images/apples_front.png', style='width: 80%; z-index: 6;')
          li.nr8
            img(src='images/nr8.png', style='width: 80%')

      section.warning
        ul
          li
          li
            h2 Makkelijk… toch?!
          li
            img.cross(src='images/cross.svg')


      section.image.image--intro

      section.image--introduce

      section.example-image.image--ipad
        .left
          h2 Stap voor stap
          h3 een hoger niveau

      section.example-image.image--macbook
        .right
          h2 Complete controle
          h3 voor de ouder

      section.stats
        .title Op dit moment:
        .stat 60+ kinderen

      section.stats
        .title Gespeeld aantal spelletjes:
        .stat 5000+ spelletjes

      section.stats
        .title Gemiddeld aantal per kind:
        .stat 86 spelletjes

      section.image.image--intro

      //- section.green
      //-   img(src='images/nedap_logo.png')

      //- section.blue
      //-   h1.wow.wtf WHAT IS NEDAP?

      //- section.blue.image.image--hm

      //- section.blue.image.image--koe

      //- section.blue.image.image--security

      //- section.blue
      //-   h1.wow.left Technology
      //-   h1.wow.left That
      //-   h1.wow.left Matters

      //- section.blue.image.image--groenlo

      //- section.blue.image.image--nedap-back

      //- section.blue
      //-   h1.wow.left Technology
      //-   h1.wow.left That
      //-   h1.wow.left Matters

      //- section.red
      //-   img(src='images/heart.svg', class='svg heart')
      //-   h2.health Healthcare

      //- section.example
      //-   div.example
      //-     img(src='images/worksheet.png')

      //- section.example
      //-   div.example
      //-     img(src='images/worksheet2.png')

      //- section
      //-   h2 Wat heb ik tot nu toe geleerd?
      //-   ul
      //-     li
      //-     li
      //-       img(src='images/bolt.svg', class='svg bolt')
      //-       p Zelf actie ondernemen
      //-     li
      //-       img(src='images/code_correction.svg', class='svg code')
      //-       p Code kan altijd beter
      //-     li
      //-       img(src='images/presentation.svg', class='svg presentation')
      //-       p Klantcontact en communicatie
      //-     li
      //-       img(src='images/system.svg', class='svg system')
      //-       p Met grote systemen werken

      //- section.intro
      //-   .wrapper
      //-     .photo
      //-       img(src='images/boyd.png')
      //-     .text
      //-       h4 Boyd Dames
      //-       h5
      //-         a(href='http://github.com/inooid' target='_blank') github.com/inooid

    script(src='build/build.js')
